@{
    ViewBag.Title = "Dashboard";
    ViewBag.pTitle = "Dashboard";
    //ViewBag.pageTitle = "Hydroid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="diagram">
        <div class="row" id="main">
            <div class="col-md-2" id="sub-main-1">
                <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                <text id="text-main">SISOC</text>
            </div>
            <div class="col-md-2" id="sub-main-2">
                <div class="row" id="sub-main-2-sub-1">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">APT-1</text>
                    </div>
                </div>
                <div class="row" id="sub-main-2-sub-2">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">APT-2</text>
                    </div>
                </div>
                <div class="row" id="sub-main-2-sub-3">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">APT-3</text>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="sub-main-3">
                <div class="row" id="sub-main-3-sub-1">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">B-1</text>
                    </div>
                </div>
                <div class="row" id="sub-main-3-sub-2">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">B-1</text>
                    </div>
                </div>
                <div class="row" id="sub-main-3-sub-3">
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-1">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">B-1</text>
                    </div>
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-1">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">B-2</text>
                    </div>
                </div>

            </div>
            <div class="col-md-2" id="sub-main-4">
                <div class="row" id="sub-main-4-sub-1">
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-2">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-1</text>
                    </div>
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-2">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-2</text>
                    </div>
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-2">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-3</text>
                    </div>
                </div>
                <div class="row" id="sub-main-4-sub-2">
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-2">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-1</text>
                    </div>
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-2">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-2</text>
                    </div>

                </div>
                <div class="row" id="sub-main-4-sub-3">
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-2">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-1</text>
                    </div>
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-2">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-2</text>
                    </div>

                </div>
            </div>
            <div class="col-md-2" id="sub-main-5">
                <div class="row" id="sub-main-5-sub-1">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-1_01</text>
                    </div>
                </div>
                <div class="row" id="sub-main-5-sub-2">
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-1">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-1_01</text>
                    </div>
                    <div class="col-md-12" id="sub-main-3-sub-3-sub-1">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-1_02</text>
                    </div>
                </div>
                <div class="row" id="sub-main-5-sub-3">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">F-2_01</text>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="sub-main-6">
                <div class="row" id="sub-main-6-sub-1">
                    <div class="col-md-12">

                    </div>
                </div>
                <div class="row" id="sub-main-6-sub-2">
                    <div class="col-md-12">
                        <a href="@Url.Action("apex", "Chart")"><img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" /></a>
                        <text id="text-main">Officemeter</text>
                    </div>
                </div>
                <div class="row" id="sub-main-6-sub-3">
                    <div class="col-md-12">
                        <img src="~/assets/images/img/3D.jpg" alt="Alternate Text" width="30" height="30" />
                        <text id="text-main">Officemeter</text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <link href="~/assets/css/StyleSheet1.css" rel="stylesheet" />
}