@{
    ViewBag.Title = "Repeater";
    ViewBag.pTitle = "Ticket Status";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Your Support Request</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Tickets ID</th>
                                <th>Request Name</th>
                                <th>Date</th>
                                <th>Request Status</th>
                                <th>View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#MB2540</a> </td>
                                <td>Ravikanth</td>
                                <td>
                                    07 Oct, 2019
                                </td>
                                <td>
                                    <span class="badge rounded-pill bg-soft-success font-size-12">Need You Reply</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck3">
                                        <label class="form-check-label" for="customCheck3">&nbsp;</label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#MB2541</a> </td>
                                <td>Ruchitha</td>
                                <td>
                                    07 Oct, 2019
                                </td>
                                <td>
                                    <span class="badge rounded-pill bg-soft-danger font-size-12">Pending</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                        View Details
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck4">
                                        <label class="form-check-label" for="customCheck4">&nbsp;</label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#MB2542</a> </td>
                                <td>Swapna</td>
                                <td>
                                    06 Oct, 2019
                                </td>
                                <td>
                                    <span class="badge rounded-pill bg-soft-success font-size-12">Need You Reply</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck5">
                                        <label class="form-check-label" for="customCheck5">&nbsp;</label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#MB2543</a> </td>
                                <td>Pavan</td>
                                <td>
                                    05 Oct, 2019
                                </td>
                                <td>
                                    <span class="badge rounded-pill bg-soft-success font-size-12">Need You Reply</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck6">
                                        <label class="form-check-label" for="customCheck6">&nbsp;</label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#MB2544</a> </td>
                                <td>Sravani</td>
                                <td>
                                    04 Oct, 2019
                                </td>
                                <td>
                                    <span class="badge rounded-pill bg-soft-warning font-size-12">Resolved</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck7">
                                        <label class="form-check-label" for="customCheck7">&nbsp;</label>
                                    </div>
                                </td>
                                <td><a href="javascript: void(0);" class="text-body fw-bold">#MB2545</a> </td>
                                <td>Arpitha </td>
                                <td>
                                    04 Oct, 2019
                                </td>
                                <td>
                                    <span class="badge rounded-pill bg-soft-warning font-size-12">Resolved</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Submit a Ticket</h4>
                <form class="outer-repeater">
                    <div data-repeater-list="outer-group" class="outer">
                        <div data-repeater-item class="outer">
                            <div class="mb-3">
                                <label class="form-label" for="formname">Name :</label>
                                <input type="text" class="form-control" id="formname" placeholder="Enter your Name...">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="formemail">Email :</label>
                                <input type="email" class="form-control" id="formemail" placeholder="Enter your Email...">
                            </div>

                            <div class="inner-repeater mb-4">
                                <div data-repeater-list="inner-group" class="inner form-group">
                                    <label class="form-label">Phone no :</label>
                                    <div data-repeater-item class="inner mb-3 row">
                                        <div class="col-md-10 col-8">
                                            <input type="text" class="inner form-control" placeholder="Enter your phone no..." />
                                        </div>
                                        <div class="col-md-2 col-4">
                                            <div class="d-grid">
                                                <input data-repeater-delete type="button" class="btn btn-primary inner" value="Delete" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input data-repeater-create type="button" class="btn btn-success inner" value="Add Number" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="formmessage">Issue Summary :</label>
                                <textarea id="formmessage" class="form-control" rows="3" placeholder="Enter your message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
@section scripts{
    <!-- form repeater js -->
    <script src="~/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

    <script src="~/assets/js/pages/form-repeater.int.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}