@{
    ViewBag.Title = "Notifications";
    ViewBag.pTitle = "Notifications";
    ViewBag.pageTitle = "UI Elements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/assets/libs/toastr/build/toastr.min.css">
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="control-group">
                            <div class="controls">
                                <div class="mb-3">
                                    <label class="form-label">Title</label>
                                    <input id="title" type="text" class="input-large form-control" placeholder="Enter a title ..." />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Message</label>
                                    <textarea class="input-large form-control" id="message" rows="3" placeholder="Enter a message ..."></textarea>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                   
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="d-flex flex-wrap gap-2">
                            <button type="button" class="btn btn-primary" id="showtoast">Show Toast</button>
                            <button type="button" class="btn btn-danger" id="cleartoasts">Clear Toasts</button>
                            <button type="button" class="btn btn-danger" id="clearlasttoast">Clear Last Toast</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
@section scripts{
    <!-- toastr plugin -->
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>

    <!-- toastr init -->
    <script src="~/assets/js/pages/toastr.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}