<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">

        <div class="rightbar-title d-flex align-items-center px-3 py-4">

            @*<h5 class="m-0 me-2">Settings</h5>*@

            @*<a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>*@
        </div>
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Settings</li>
                <li><a href="@Url.Action("Index","Integration")" class="waves-effect">
    <i class="uil-file-alt"></i>
    <span>Integration</span>
</a>
                    
                </li>

               

                <li>
                    <a href="@Url.Action("starter", "Pages")" class="has-arrow waves-effect">
                        <i class="uil-file-alt"></i>
                        <span>Privacy & Policy</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("starter", "Pages")">Help</a></li>
                       
                        @*<li><a href="@Url.Action("faqs", "Pages")">FAQs</a></li>*@
                       
                    </ul>
                </li

            </ul>
        </div>
    





